.nav-link {
    color: rgb(175, 216, 216);
}

.navbar-nav .nav-link.active {
    color: aquamarine;
}

.navbar-brand img {
    width: 30px;
}

.navbar-toggler {
    background-color: brown;
}

body{
    background: radial-gradient( #7E7E7E 0%, #000000 89%);
}

.sidebar {
    color: aquamarine;
    background-color: rgb(0, 0, 0);
}